version: '3.8'

# docker compose up -d
# docker exec -it test_postgres_container psql -U postgres
# You can then use \l to list databases or \c mydatabase to connect to your specific database.

services:
  postgres_db:
    image: postgres:16-alpine
    container_name: test_postgres_container
    restart: always
    environment:
      # Set the password for the default 'postgres' user
      POSTGRES_PASSWORD: mysecretpassword
      # Optional: Explicitly sets the user, but 'postgres' is the default
      POSTGRES_USER: postgres 
      # Optional: Creates a database with this name on startup, defaults to POSTGRES_USER value if not specified
      POSTGRES_DB: mydatabase
    ports:
      # Map container port 5432 to host port 5432
      - "5432:5432"
    volumes:
      # Persist data in a named volume
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
    driver: local